@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Marcellus", serif;
  font-weight: 400;
  font-style: normal;
}

::-webkit-scrollbar{
  border-radius: 2px;
  width:5px;
  height: 5px;

  background-color: transparent;
}

::-webkit-scrollbar:hover{
  border-radius: 2px;
  width:4px;
  background-color:#6556CD;
}

select{
  background-color: #27272a;
  flex:1;
  padding: 0.4em;
  color:#fff;
  cursor: pointer;
  font-size: 0.9em;
  font-family: "Open Sans",sans-serif;

};

select::ms-expand{
  display:none;
}

.select{
  position: relative;
  display: flex;
  width:16em;
  height:2em;
  line-height: 3;
  background-color: #27272a;
  overflow: hidden;
  border-radius: 0.28em;
}

.select::after{
  content:"\25BC";
  position: absolute;
  top:0;
  right:0;
  padding:0 0.8em;
  background-color:#27272a;
  cursor: pointer;
  pointer-events: none;
  transition: 0.25s all ease;
}

.select:hover::after{
  color:#6556cd;
}




/* Primary - #1F1E24 */
/* SECONDARY - #6556CD */